.page-header {
  background-color: $light-blue;
  margin-bottom: 24px;
}

.page-header__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__logo-link {
  padding: 10px;
}

.page-header__logo-icon {
  width: 90px;
}

.page-header__about-company,
.page-header__phone-link,
.page-header__social {
  display: none;
}

.page-header__phone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

@media (min-width: $desktop-width) {
  .page-header__container {
    flex-direction: row;
    align-items: center;
  }

  .page-header__logo-link {
    padding: 30px 21px 30px 0;
  }

  .page-header__logo-icon {
    width: 179px;
  }

  .page-header__about-company {
    display: block;
    margin: 0 138px 0 0;
    padding-top: 10px;
    width: 150px;
    font-size: 16px;
    line-height: 18px;
    color: white;
  }

  .page-header__phone {
    margin-right: 26px;
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
  }

  .page-header__phone-link {
    display: block;
    margin-right: 47px;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
  }

  .page-header__social {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
